body a {
  color: white;
}

.nav-item a {
  color: white;
  font-size: 12px;
  font-weight: 700;
}
.nav-item a:hover {
  color: #b9b9b9;
}

.main-header {
  background-image: url("../../img/home/01.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.logoOne {
  width: 200px;
}

.paragrafh {
  color: white;
}

.title {
  position: relative;
  top: 250px;
  margin-right: 50px;
}

.section2 {
  background-image: url("../../img/home/03.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section3 {
  background-image: url("../../img/home/02.gif");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section4 {
  background-image: url("../../img/home/04.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  background-color: black;
  height: 100px;
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.footer span {
  color: #555252;
}
.footer a {
  text-decoration: none;
  font-weight: 500;
}
.footer a:hover {
  color: #b9b9b9;
}

.main-header2 {
  background-image: url("../../img/falcon9/01.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.section5 {
  position: relative;
  top: 300px;
  display: flex;
  justify-content: center;
}

.title2 {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
}
.title2 h2 {
  font-size: 80px;
  color: white;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}
.title2 h6 {
  font-size: 18px;
}

.numbers {
  background-color: black;
  height: 300px;
  text-align: center;
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
}

.number1 h1 {
  color: white;
  font-size: 70px;
}
.number1 p {
  color: white;
}

.section6 {
  background-image: url("../../img/falcon9/02.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.descriptionFalcon9 {
  position: relative;
  top: 250px;
}
.descriptionFalcon9 p {
  color: white;
  max-width: 540px;
  font-size: 18px;
  line-height: 50px;
}

.section6 {
  background-color: black;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textSlide1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;
}

.table {
  max-width: 400px;
}
.table th {
  color: white;
}
.table td {
  color: white;
  font-size: 14px;
}

.tdRight {
  text-align: right;
}

.tdLeft {
  text-align: left;
}

.textSlide2 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;
}
.textSlide2 p {
  text-align: left;
}

.textSlide3 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;
}
.textSlide3 p {
  text-align: left;
}

.textSlide4 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;
}
.textSlide4 p {
  text-align: left;
}

.textSlide5 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;
}
.textSlide5 p {
  text-align: left;
}

.section8 {
  background-image: url("../../img/falcon9/08.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  padding-left: 13%;
  align-items: center;
}

.textSlide8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 30%;
}
.textSlide8 p {
  text-align: left;
  color: white;
  max-width: 300px;
}
.textSlide8 h4 {
  color: white;
}

.section9 p {
  background-color: black;
}

.section10 {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section10 p {
  color: white;
}
.section10 a {
  font-size: 16px;
  color: #b9b9b9;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
