.main-header2 {
  background-image: url('../img/falcon9/01.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.section5 {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.title2 {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;

  h2 {
    font-size: 80px;
    color: white;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px 1px black;
  }
  h6 {
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
  }
}

@media (max-width: 420px) {
  .title2 > h2 {
    font-size: 45px;
  }

}

.sectionNumbers {
  background-color: black;
}

.numbers {
  background-color: black;
  width: 100%;
  max-width: 1000px;
  height: 25vh;
  text-align: center;
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 680px) {
  .numbers {
    display: block;
    height: 45vh;
  }
}

.number1 {
  h1 {
    color: white;
    font-size: 70px;
  }

  p {
    color: white;
  }
}

.section6 {
  background-image: url('../img/falcon9/02.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.descriptionFalcon9 {
  display: flex;
  padding-top: 120px;

  p {
    color: white;
    max-width: 540px;
    font-size: 18px;
    line-height: 50px;
  }
}

@media (max-width: 570px) {
  .descriptionFalcon9 > p {
    font-size: 16px;
    line-height: 35px;
  }

}

.section6 {
  background-color: black;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.carrossel101 {
  background-image: url('../img/falcon9/03.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.textSlide1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 100px;
  top: 30%;
}

.table {
  max-width: 400px;

  th{
    color: white;
  }

  td {
    color: white;
    font-size: 14px;
  }
}

.tdRight {
  text-align: right;
}

.tdLeft {
  text-align: left;
}

.carrossel102 {
  background-image: url('../img/falcon9/04.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textSlide2 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;

  p {
    text-align: left;
  }
}

.carrossel103 {
  background-image: url('../img/falcon9/05.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textSlide3 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;

  p {
    text-align: left;
  }
}

.carrossel104 {
  background-image: url('../img/falcon9/06.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textSlide4 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;

  p {
    text-align: left;
  }
}

.carrossel105 {
  background-image: url('../img/falcon9/07.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textSlide5 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30%;

  p {
    text-align: left;
  }
}

.section8 {
  background-image: url('../img/falcon9/08.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  padding-left: 13%;
  align-items: center;
  
}

.textSlide8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 30%;
  

  p {
    text-align: left;
    color: white;
    max-width: 300px;
  }

  h4 {
    color: white;
  }
}

.section9 {
  p{
    background-color: black;
  }
}

.carrossel901 {
  background-image: url('../img/falcon9/09.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carrossel902 {
  background-image: url('../img/falcon9/10.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carrossel903 {
  background-image: url('../img/falcon9/11.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carrossel904 {
  background-image: url('../img/falcon9/12.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carrossel905 {
  background-image: url('../img/falcon9/13.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carrossel906 {
  background-image: url('../img/falcon9/14.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section10 {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    color: white;
  }

  a {
    font-size: 16px;
    color: $color-hover;
    text-decoration: none;
  }

  button {
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .footer {
    display: block;
    text-align: center;
    margin: auto;
    
  }
}