body {
  a {
    color: white;
  } 
}

.nav-item {
  a {
    color: white;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      color: $color-hover;
    }
  }
}

.main-header {
  background-image: url('../../img/home/01.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.logoOne {
  width: 200px;
}

.paragrafh {
  color: white;
  
}

.title {
  position: relative;
  top: 250px;
  margin-right: 50px;
}

.section2 {
  background-image: url('../../img/home/03.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.section3 {
  background-image: url('../../img/home/02.gif');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.section4 {
  background-image: url('../../img/home/04.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

footer {
  background-color: black;
  height: 100px;
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  
  span {
    color: $color-copy;
  }

  a {
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $color-hover;
    }
  }


}







